@import "tailwindcss";

@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-3xl: 120rem;
}

ul.custom-list li {
  position: relative;
  padding-left: 28px; /* space for bullet */
}

/* custom bullet for list using image  */
ul.custom-list li::before {
  content: "";
  position: absolute;
  left: 4px;
  top: 50%; /* vertical alignment */
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-image: url("/images/news/bullet.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.animate-spin-slow {
  animation: spin 10s linear infinite,
    pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-in-out;
}
